{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
<!--                <div class="col-lg-12">-->
<!--                    &lt;!&ndash; breadcrumb&ndash;&gt;-->
<!--                    <nav aria-label="breadcrumb">-->
<!--                        <ol class="breadcrumb">-->
<!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                            <li aria-current="page" class="breadcrumb-item active">Ladies</li>-->
<!--                        </ol>-->
<!--                    </nav>-->
<!--                </div>-->
                {% include 'category-left.html' %}
                <div class="col-lg-9">
                    <div class="box">
                        <h1>Catalogue</h1>
                        <p>We offer wide selection of the best products we have found and carefully selected worldwide.</p>
                    </div>
                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 products-showing">Showing <strong>12</strong> of
                                <strong>25</strong> products
                            </div>
                            <div class="col-md-12 col-lg-7 products-number-sort">
                                <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                    <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a
                                            href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span>
                                    </div>
                                    <div class="products-sort-by mt-2 mt-lg-0"><strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Price</option>
                                            <option>Name</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row products">
                        {% for prod in queryset %}
                            <div class="col-lg-4 col-md-6">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front"><a href="{{ prod.get_absolute_url }}"><img src="{{ prod.image.url }}" alt="" class="img-fluid"></a>
                                            </div>
                                            <div class="back"><a href="{{ prod.get_absolute_url }}"><img src="{{ prod.image.url }}" alt="" class="img-fluid"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ prod.get_absolute_url }}" class="invisible"><img src="{{ prod.image.url }}" alt="" class="img-fluid"></a>
                                    <div class="text">
                                        <h3><a href="{{ prod.get_absolute_url }}">{{ prod.title }}</a></h3>
                                        <p class="price">
                                            {% if prod.discount_price %}
                                                <del>${{ prod.discount_price }}</del>
                                            {% endif %}
                                                ${{ prod.price }}
                                        </p>
                                        <p class="buttons"><a href="{{ prod.get_absolute_url }}" class="btn btn-outline-secondary">View
                                            detail</a><a href="basket.html" class="btn btn-primary"><i
                                                class="fa fa-shopping-cart"></i>Add to cart</a></p>
                                    </div>
                                    <!-- /.text-->
                                </div>
                                <!-- /.product            -->
                            </div>
                        {% endfor %}
                        <!-- /.products-->
                    </div>
                    <div class="pages">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                {% if queryset.has_previous %}
                                    <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" aria-label="Previous" class="page-link"><span
                                        aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                                {% endif %}
                                    <li class="page-item active"><a href="?{{ page_request_number }}={{ queryset.number }}" class="page-link">{{ queryset.number }}</a></li>
                                {% if queryset.has_next %}
                                    <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" aria-label="Next" class="page-link"><span
                                        aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>
{% endblock %}