{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div id="checkout" class="col-lg-9">
                    <div class="box">
                        <form method="POST" action="checkout2.html">
                            {% csrf_token %}
                            {{ form.errors }}
                            {{ form.non_field_errors }}
                            <h1>Checkout Form</h1>
                            <div class="nav flex-column flex-md-row nav-pills text-center">
                                <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"><i class="fa fa-map-marker"> </i>Address</a>
                            </div>
                            <div class="content py-3">
                                <div class="row">
                                    <!--                                    <div class="col-md-6">-->
                                    <!--                                        <div class="form-group">-->
                                    <!--                                            <label for="firstname">Firstname</label>-->
                                    <!--                                            <input id="firstname" type="text" class="form-control">-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="col-md-6">-->
                                    <!--                                        <div class="form-group">-->
                                    <!--                                            <label for="lastname">Lastname</label>-->
                                    <!--                                            <input id="lastname" type="text" class="form-control">-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="shipping_address1">Address</label>
                                            <input id="shipping_address1" type="text" placeholder="1234 Main St" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="shipping_address2">Shipping Address</label>
                                            <input id="shipping_address2" type="text" placeholder="Apartment or Suite" class="form-control">
                                        </div>
                                    </div>
                                    <!--                                    <div class="col-md-6">-->
                                    <!--                                        <div class="form-group">-->
                                    <!--                                            <label for="street">Street</label>-->
                                    <!--                                            <input id="street" type="text" class="form-control">-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                                <!-- /.row-->
                                <div class="row">
                                    <!--                                    <div class="col-md-6 col-lg-3">-->
                                    <!--                                        <div class="form-group">-->
                                    <!--                                            <label for="city">Company</label>-->
                                    <!--                                            <input id="city" type="text" class="form-control">-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label for="shipping_zip">ZIP</label>
                                            <input id="shipping_zip" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label for="shipping_country">Country</label>
                                            {{ form.shipping_country }}
                                        </div>
                                    </div>




                                    <!--                                    <div class="col-md-6">-->
                                    <!--                                        <div class="form-group">-->
                                    <!--                                            <label for="phone">Telephone</label>-->
                                    <!--                                            <input id="phone" type="text" class="form-control">-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="col-md-6">-->
                                    <!--                                        <div class="form-group">-->
                                    <!--                                            <label for="email">Email</label>-->
                                    <!--                                            <input id="email" type="text" class="form-control">-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                                <!-- /.row-->
                            </div>
<!--                            <div class="nav flex-column flex-md-row nav-pills text-center">-->
<!--                                <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"><i class="fa fa-truck"> </i>Delivery Method</a>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="box shipping-method">-->
<!--                                        <h4>USPS Next Day</h4>-->
<!--                                        <p>Get it right on next day - fastest option possible.</p>-->
<!--                                        <div class="box-footer text-center">-->
<!--                                            <input type="radio" name="delivery" value="delivery1">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="box shipping-method">-->
<!--                                        <h4>USPS Next Day</h4>-->
<!--                                        <p>Get it right on next day - fastest option possible.</p>-->
<!--                                        <div class="box-footer text-center">-->
<!--                                            <input type="radio" name="delivery" value="delivery2">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="box shipping-method">-->
<!--                                        <h4>USPS Next Day</h4>-->
<!--                                        <p>Get it right on next day - fastest option possible.</p>-->
<!--                                        <div class="box-footer text-center">-->
<!--                                            <input type="radio" name="delivery" value="delivery3">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="nav flex-column flex-md-row nav-pills text-center">
                                <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"><i
                                        class="fa fa-money"> </i>Payment Method</a>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box payment-method">
                                        <h4>Paypal</h4>
                                        <p>We like it all.</p>
                                        <div class="box-footer text-center">
                                            <input type="radio" name="payment" value="payment1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box payment-method">
                                        <h4>Payment gateway</h4>
                                        <p>VISA and Mastercard only.</p>
                                        <div class="box-footer text-center">
                                            <input type="radio" name="payment" value="payment2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box payment-method">
                                        <h4>Cash on delivery</h4>
                                        <p>You pay when you get it.</p>
                                        <div class="box-footer text-center">
                                            <input type="radio" name="payment" value="payment3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer d-flex justify-content-between">
                                <a href="basket.html" class="btn btn-outline-secondary">
                                    <i class="fa fa-chevron-left"></i>Back to Basket</a>
                                <button type="submit" class="btn btn-primary">Place an order<i
                                        class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-->
                </div>
                {% include 'order_summary.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}